Необходимо в файле 21_12_20_Data-Annual_Kireeva_Frolova_Lisina.xlsx который лежит вот здесь
https://drive.google.com/drive/folders/1R7MxF6EVwhzAvX5TIgvi1Ge8ZwUJ6nis 
проверить ряды (которые указаны в прикрепленном файле Station data that need...) — в них есть ошибки, а именно дублированные годы (когда два одинаковых года имеют разные значения), когда к значению года не присоединен расход, или как вероятность вбит неверный ID.

Со второй там не совсем так. Нам нужен весь файл, просто в тех станциях что были в списке есть ошибки которые надо  найти)

In [51]:
import pandas as pd

In [52]:
Annual_data = pd.read_excel('21_12_20_Data-Annual_Kireeva_Frolova-Lisina.xlsx')

In [54]:
Annual_data.head()

,Station ID,Date of AnMax (Format DD/MM/YYYY),Qmax in m3/s (Format: x.x),Unnamed: 3,OR,Unnamed: 5,Station ID.1,Date of AnMax (Format DD/MM),Year of AnMax (FormatYYYY),Qmax in m3/s (Format: x.x).1
0,84827,1971-05-30 00:00:00,479,NaN,NaN,NaN,84827,1971-05-30 00:00:00,1971.0,479
1,84827,1972-07-01 00:00:00,494,NaN,NaN,NaN,84827,1972-07-01 00:00:00,1972.0,494
2,84827,1973-06-21 00:00:00,669,NaN,NaN,NaN,84827,1973-06-21 00:00:00,1973.0,669
3,84827,1974-07-06 00:00:00,1240,NaN,NaN,NaN,84827,1974-07-06 00:00:00,1974.0,1240
4,84827,1975-05-28 00:00:00,674,NaN,NaN,NaN,84827,1975-05-28 00:00:00,1975.0,674

In [58]:
Annual_data.columns

Index(['Station ID', 'Date of AnMax (Format DD/MM/YYYY)',
       'Qmax in m3/s (Format: x.x)', 'Unnamed: 3', 'OR ', 'Unnamed: 5',
       'Station ID.1', 'Date of AnMax (Format DD/MM)',
       'Year of AnMax (FormatYYYY)', 'Qmax in m3/s (Format: x.x).1'],
      dtype='object')

In [39]:
Annual_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35590 entries, 0 to 35589
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Station ID                         35590 non-null  int64
 1   Date of AnMax (Format DD/MM/YYYY)  35582 non-null  object
 2   Qmax in m3/s (Format: x.x)         35587 non-null  object
 3   Unnamed: 3                         0 non-null      float64
 4   OR                                 0 non-null      float64
 5   Unnamed: 5                         0 non-null      float64
 6   Station ID.1                       35590 non-null  int64
 7   Date of AnMax (Format DD/MM)       35582 non-null  object
 8   Year of AnMax (FormatYYYY)         35582 non-null  float64
 9   Qmax in m3/s (Format: x.x).1       35590 non-null  object
dtypes: float64(4), int64(2), object(4)
memory usage: 2.7+ MB

In [40]:
check_df = pd.read_excel('Station data that needs checking.xlsx')
check_df.columns = ['Country', 'Station ID']

In [41]:
check_df

   Country  Station ID
0      UKR       42148
1      UKR       42176
2      UKR       42187
3      UKR       42194
4      UKR       42249
..     ...         ...
78     RUS       80174
79     RUS       80196
80     RUS       80197
81     RUS       80198
82     BLR       79432

[83 rows x 2 columns]

In [55]:
stations = pd.to_numeric(check_df['Station ID'])
stations = stations.drop_duplicates()
stations

0     42148
1     42176
2     42187
3     42194
4     42249
      ...
78    80174
79    80196
80    80197
81    80198
82    79432
Name: Station ID, Length: 83, dtype: int64

In [ ]:
for i in range (len(Annual_data)):
    if (df['Station ID'].iloc[i].isin(stations)):
        if (df['Qmax in m3/s (Format: x.x)'].iloc[i].isna() | df['Qmax in m3/s (Format: x.x)'])