In [50]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [18]:
x = df.men.mean() - df.women.mean()
x

12.469999999999999

In [53]:
# df2 = pd.DataFrame({
#     'first':[2,7,4,3,6,4,1,2],
#     'second':[5,2,4,8,1,6,7]
# })
# a = pd.DataFrame(2,7,4,3,6,4,1,2)
# b = pd.DataFrame(5,2,4,8,1,6,7)
a = np.array([2,7,4,3,6,4,1,2])
a.mean()
# df2.first.mean()
# df2
# a = [2,7,4,3,6,4,1,2]
# a.mean()
# b = [5,2,4,8,1,6,7]
# a = pd.DataFrame
# a.median()

3.625

In [22]:
df = pd.DataFrame({
    'men': [80.2, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'women': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [28]:
df.men.median()
df.women.median()

57.599999999999994

In [37]:
df['patients'] = df.men + df.women
df.patients.median()

131.05

Найдите квартили (эксклюзивным методом) для обоих наборов данных и выберите все верные утверждения из списка ниже:

In [68]:
a = np.array([2,7,4,3,6,4,1,2])
b = np.array([5,2,4,8,1,6,7])

np.quantile(a,1)
# np.median(a)
# a.median()

7

Найдите Q1 и Q3 для мужчин и женщин, используя Python (выпишите результат, округляя до 1 знака после точки-разделителя):

Для того, чтобы округлить до 1 знака после точки-разделителя, используйте round(value, 1), где value — это число для округления.

In [69]:
df = pd.DataFrame({
    'mens': [80, 80.8, 57.5, 98, 50.5, 73.8, 77.4, 59.7, 77.9, 52.6],
    'womens': [57.9, 57.3, 72.8, 48.2, 59.5, 48.3, 61.2, 53.9, 53.9, 70.7]
})

In [82]:
# df.mens.quantile
round(np.quantile(df.mens, 0.75, interpolation='midpoint'), 1)

79.0

Для удобства вычисления размаха можете использовать стандартные функции min(), max() для серий в pandas. Также используйте знания о функции quantile() для вычисления межквартильного размаха. Используйте ранее приведенный параметр интерполяции для вычислени квартилей в pandas.

Выпишите результат, округляя до 1 знака после точки-разделителя:

In [90]:
round(df.womens.max() - df.womens.min(), 1)

24.6

IQR

In [93]:
round(np.quantile(df.mens, 0.75, interpolation='midpoint') - np.quantile(df.mens, 0.25, interpolation='midpoint'),  1)

20.4

Для вычисления стандартного отклонения в выборке в Python используется функция std(). Единственным аргументом функции является диапазон данных. В данном случае диапазоном данных может выступать как серия pandas, так и весь датафрейм целиком. Aналогично для вычисления дисперсии используется функция var().

Задание: Найдите дисперсию и стандартное отклонение веса для выборки пациентов клиники. Выпишите результат, округляя до 1 знака после точки-разделителя:

In [106]:
# round(np.std(df.mens), 1)
# round(np.var(df.mens), 1)

round(df.mens.std(), 1)
round(df.womens.std(), 1)

8.3

In [111]:
# round(df.mens.var(), 1)
df.mens.var()
# round(df.womens.var(), 1)

230.09733333333335

In [113]:

df = pd.DataFrame({
    'year': [2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    'temp': [-4.7, -6.1, -5.5, -3.3, -7.1, -3.1, -5.2, -7.3, -12.1, -6.6, -5.9, -6.3]
})


Среднее:

In [116]:
round(df.temp.mean(), 1)

-6.1

Медиана:

In [118]:
round(df.temp.median(), 1)

-6.0

Стандартное отклонение:

In [121]:
round(df.temp.std(), 1)

2.3

Размах:

In [123]:
round(df.temp.max() - df.temp.min(), 1)

9.0

Межквартильный размах:

In [131]:
Q3 = np.quantile(df.temp, 0.75, interpolation='midpoint')
Q1 = np.quantile(df.temp, 0.25, interpolation='midpoint')
Q3, Q1

(-4.95, -6.85)

In [128]:
mkr =  round(np.quantile(df.temp, 0.75, interpolation='midpoint') - np.quantile(df.temp, 0.25, interpolation='midpoint'),  1)
mkr

1.9

In [134]:
len(df)

12

In [141]:
for i in range(len(df)):
    if ((df.temp[i] > Q3 + (mkr * 1.5)) | (df.temp[i] < Q1 + (mkr * 1.5))):
        print(df.temp[i])
    else: 
        break

-4.7
-6.1
-5.5