In [4]:
import pandas as pd 
import numpy as np
from sklearn.preprocessing import StandardScaler

In [16]:
df = pd.read_csv('./data/snsdata.csv', sep =',')

В датасете для учеников предоставлены следующие признаки:

Год выпуска
Пол
Возраст
Количество друзей
36 ключевых слов, которые встречаются в профилe Facebook (интересы, сообщества, встречи)
Мы будем пытаться выделить кластеры исключительно по интересам, поэтому в первую очередь удалите все признаки, кроме ключевых слов.

Нормализуйте оставшиеся признаки с помощью StandardScaler(). Помните, что кластеризация — обучение без учителя, поэтому разделение на обучающую и тренировочную выборку не требуется.

Используйте метод k-means для кластеризации, количество кластеров возьмите за 9, random_state =123.

In [11]:
from sklearn.cluster import KMeans
df = pd.read_csv('./data/snsdata.csv', sep =',')
df = df.drop(['gradyear', 'gender', 'age', 'friends'], axis=1)

scaler = StandardScaler().fit(df)
X = scaler.transform(df)
kmean = KMeans(n_clusters=9, random_state=123)
kmean.fit(X)

df = pd.DataFrame(X, columns= df.columns)
df['cluster_label'] = kmean.labels_
claster, counts = np.unique(kmean.labels_, return_counts=True)
print(list(zip(claster, counts)))
# df
# for k, group in df.groupby('cluster_label'):
# #     print(k)
#     top_words = group.iloc[:,:-1].mean()\
#                  .sort_values(ascending=False)\
#                  .head(10)
# #     print(top_words)

[(0, 20345), (1, 424), (2, 830), (3, 1), (4, 1026), (5, 932), (6, 644), (7, 5034), (8, 764)]

Возьмите данные про учеников старшей школы из прошлого урока (c такой же обработкой) и примените к ним EM-алгоритм , количество кластеров — 9, random_state = 123. К какому кластеру принадлежит восьмой (по списку из изначального датасета) ученик? Введите номер кластера целым числом без точек и десятичной части.

In [13]:
from sklearn.mixture import GaussianMixture

df = pd.read_csv('./data/snsdata.csv', sep =',')
df = df.drop(['gradyear', 'gender', 'age', 'friends'], axis=1)
scaler = StandardScaler().fit(df)
X = scaler.transform(df)

gm = GaussianMixture(n_components=9, 
                        max_iter=100,
                        init_params='kmeans', # 'kmeans’, ‘random’
                        random_state = 123
                       )
# gm.fit(X)
# y_pred = gm.predict(X)
y_pred = gm.fit_predict(X) # обьединяет предидущие строки

# df = pd.DataFrame(X, columns= df.columns)
# df['cluster_label'] = gm.labels_
# claster, counts = np.unique(gm.labels_, return_counts=True)
# print(list(zip(claster, counts)))
# df
y_pred

array([4, 8, 4, ..., 2, 4, 2], dtype=int64)

In [14]:
df

,basketball,football,soccer,softball,volleyball,swimming,cheerleading,baseball,tennis,sports,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29996,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29997,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29999,2,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
len(y_pred)

30000