In [1]:
import pandas as pd
rt = pd.read_csv('C:/Users/gorba/DataSciense/WORK/SkillFactory/ratings.csv')
rt

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [110]:
mv = pd.read_csv('C:/Users/gorba/DataSciense/WORK/SkillFactory/movies.csv', encoding='latin1',sep=',')
mv.head(13)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,"11, ""American President, The (1995)"" ,Comedy|D...",NaN,NaN
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children

Какое минимальное значение принимает выставленная оценка в датасете ratings?

In [2]:
rt.rating.min()

0.5

In [97]:
# rt.movieId.astype(int)
# mv.movieId.astype(int)
# rt.dtypes
# mv.dtypes
# mv.replace('\"','\'')
mv.replace(to_replace ='\"', value = None, inplace = True) 
mv.head(13)
# joined = rt.merge(mv, on='movieId', how='left')
# joined.head() 

# rt.type()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,"11,""American President, The (1995)"",Comedy|Dra...",NaN,NaN
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children