In [90]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [91]:
df = pd.read_csv('movie_bd_v5 (1).xls')
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [92]:
df.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [93]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
df['profit'] = df.revenue - df.budget
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [94]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [95]:
# тут пишем ваш код для решения данного вопроса:
df[df.budget == df.budget.max()][['imdb_id', 'original_title', 'budget']]
# data[data.budget == max(data.budget)][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

In [96]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [97]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

ВАРИАНТ 2

In [98]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [99]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157	tt0279111	Gods and Generals	56000000'

In [100]:

df[df.runtime == max(df.runtime)][['imdb_id', 'original_title', 'budget']]

        imdb_id     original_title    budget
1157  tt0279111  Gods and Generals  56000000

# 3. Какой из фильмов самый короткий (в минутах)?

In [101]:
df[df.runtime == min(df.runtime)][['imdb_id', 'original_title', 'budget']]

       imdb_id   original_title    budget
768  tt1449283  Winnie the Pooh  30000000

In [102]:
answers['3'] = '768	tt1449283	Winnie the Pooh	30000000'

# 4. Какова средняя длительность фильмов?

In [103]:
df.runtime.mean()

109.6585494970884

In [104]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [105]:
df.runtime.median()

107.0

In [106]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [107]:
df[df.profit == max(df.profit)][['original_title', 'imdb_id', 'profit']]# лучше код получения столбца profit вынести в Предобработку что в начале

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

In [108]:
answers['6'] = '239	Avatar	tt0499549	2544505847'

# 7. Какой фильм самый убыточный?

In [109]:
df[df.profit == min(df.profit)][['original_title', 'imdb_id', 'profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [110]:
answers['7'] = '1245	The Lone Ranger	tt1210819	-165710090'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [111]:
len(df[df.revenue > df.budget])

1478

In [112]:
answers['8'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [113]:
df[df.release_year == 2008].revenue.max()

1001921825

In [114]:
movie_id = df[df.release_year == 2008].revenue.idxmax()
# df.loc[movie_id].original_title
movie_id

599

In [115]:
data_2008 = df[df['release_year'] == 2008]
data_2008.sort_values(by = 'revenue', ascending = False).head(1).original_title

599    The Dark Knight
Name: original_title, dtype: object

In [116]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [117]:
# data[data.release_year.isin(range(2012, 2015))
df[df.release_year.isin(range(2012, 2015))].revenue.min()

2054941

In [118]:
worst = data[data.release_year.isin(range(2012, 2015))][
    ['original_title', 'imdb_id', 'release_year', 'profit']]
worst[worst.profit == min(worst.profit)]

       original_title    imdb_id  release_year     profit
1245  The Lone Ranger  tt1210819          2013 -165710090

In [119]:
answers['10'] = '1245	The Lone Ranger	tt1210819	2013	-165710090'

# 11. Какого жанра фильмов больше всего?

In [120]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [121]:
sum_genres=pd.Series(df['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)
sum_genres

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [122]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [123]:
# sum_genres=pd.Series(df['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)
# data = data_ini
# genres = pd.Series(data[data.profit > 0].genres.str.cat(sep='|').split('|'))
# genres.value_counts().head()

genres = pd.Series(df[df.profit > 0].genres.str.cat(sep='|').split('|'))
genres.value_counts().head()

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

In [124]:
answers['11'] = 'Drama'

In [125]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157\ttt0279111\tGods and Generals\t56000000',
 '3': '768\ttt1449283\tWinnie the Pooh\t30000000',
 '4': '2. 110',
 '5': '107',
 '6': '239\tAvatar\ttt0499549\t2544505847',
 '7': '1245\tThe Lone Ranger\ttt1210819\t-165710090',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': '1245\tThe Lone Ranger\ttt1210819\t2013\t-165710090',
 '11': 'Drama'}

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)