In [1]:
import pandas as pd

In [2]:
log = pd.read_csv("log (1).xls")
log.columns = ['user_id', 'time', 'bet', 'win']

users = pd.read_csv("users (1).xls", sep = '\t' , encoding = 'koi8_r')
users.columns = ['user_id', 'email', 'geo']
log.info(), users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  999 non-null    object
 1   time     984 non-null    object
 2   bet      485 non-null    float64
 3   win      138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  100 non-null    object
 1   email    99 non-null     object
 2   geo      97 non-null     object
dtypes: object(3)
memory usage: 2.5+ KB

(None, None)

Посчитайте количество пропусков в столбце time. Метод isna() есть не только у DataFrame, но и у Series. Это значит, что применять его можно не только ко всей таблице, но и к каждому столбцу отдельно.

In [3]:
log.time.isna().value_counts()

False    984
True      15
Name: time, dtype: int64

In [4]:
log.dropna(axis = 1)
log.dropna(axis = 0) #

,user_id,time,bet,win
13,Запись пользователя № - user_917,[2019-01-02 8:57:36,145732.0,1987653.0
28,Запись пользователя № - user_942,[2019-01-04 13:59:42,1678321.0,9876543.0
150,Запись пользователя № - user_982,[2019-01-16 21:54:22,100.0,4749.0
188,Запись пользователя № - user_964,[2019-01-21 18:34:44,200.0,4667.0
204,Запись пользователя № - user_931,[2019-01-22 5:26:59,300.0,4319.0
...,...,...,...,...
966,Запись пользователя № - user_975,[2019-04-19 22:25:15,1000.0,6108.0
970,Запись пользователя № - user_912,[2019-04-20 10:35:49,10554.0,31799.0
971,Запись пользователя № - user_926,[2019-04-20 10:35:50,10354.0,30244.0
975,Запись пользователя № - user_970,[2019-04-20 10:35:54,10354.0,30691.0
990,Запись пользователя № - user_965,[2019-04-20 12:55:41,800.0,6927.0

Используйте оригинальный датасет log.csv.

С данными в столбцах bet и win мы разберемся позже: пропуски в этих столбцах требуют особого подхода.

А сейчас:

если есть пропуски в столбце user_id - удалите столбец user_id,

если есть пропуски в столбце time - удалите столбец time.

Запишите в поле ответа, количество оставшихся столбцов в данных, после этих действий.

In [5]:
log.info()
log.time.dropna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  999 non-null    object
 1   time     984 non-null    object
 2   bet      485 non-null    float64
 3   win      138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.3+ KB

0      [2019-01-01 14:51:16
1      [2019-01-01 16:31:16
2      [2019-01-01 17:17:51
3      [2019-01-01 21:31:18
4      [2019-01-01 23:34:55
               ...
990    [2019-04-20 12:55:41
991    [2019-04-20 14:59:36
992    [2019-04-20 17:09:56
993    [2019-04-20 18:10:07
994     [2019-04-20 9:59:58
Name: time, Length: 984, dtype: object

In [6]:
dpp = log.drop_duplicates(['user_id', 'time'])
dpp

                              user_id                  time       bet     win
0    Запись пользователя № - user_973  [2019-01-01 14:51:16       NaN     NaN
1    Запись пользователя № - user_903  [2019-01-01 16:31:16       NaN     NaN
2    Запись пользователя № - user_954  [2019-01-01 17:17:51       NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 21:31:18       NaN     NaN
4    Запись пользователя № - user_917  [2019-01-01 23:34:55  156789.0     NaN
..                                ...                   ...       ...     ...
990  Запись пользователя № - user_965  [2019-04-20 12:55:41     800.0  6927.0
991  Запись пользователя № - user_967  [2019-04-20 14:59:36   10154.0     NaN
992  Запись пользователя № - user_973  [2019-04-20 17:09:56   10254.0     NaN
993  Запись пользователя № - user_977  [2019-04-20 18:10:07   10354.0     NaN
994  Запись пользователя № - user_984   [2019-04-20 9:59:58    9754.0     NaN

[985 rows x 4 columns]

Уберите лишний символ, преобразуйте признак time к datetime. После этого найдите наибольшую дату и выведите ее без времени.

Подсказка: можно применить метод max() к получившемуся столбцу со временем.

Не забудьте избавиться от пропусков.

Запишите ответ в формате "YYYY-MM-DD".

In [7]:
log['time']=log['time'].str.replace('[','')
log['time'] = pd.to_datetime(log.time, format = '%Y-%m-%d %H:%M:%S')

In [8]:
log.time.max()

Timestamp('2019-04-20 18:10:07')

Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts().

Найдите минуту, которая встречалась в данных чаще всего. Введите ответ в поле ниже.

In [9]:
minutes = log['time'].dt.minute
# minutes.value_counts()

Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts().

Найдите месяц, который встречался в данных реже всего. Введите ответ в поле ниже.

In [10]:
month = log['time'].dt.month
month.value_counts(ascending=False)

1.0    291
3.0    264
2.0    259
4.0    170
Name: time, dtype: int64

Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать sum().

Посчитайте, сколько дней в данных являются выходными (то есть субботой или воскресеньем). Введите ответ в поле ниже.

In [11]:
log = pd.read_csv("log (1).xls", header = None)
log.columns=['user_id', 'time', 'bet', 'win']
log=log.dropna(subset=['time'], axis=0)
log.time = log.time.str.replace('[', '')
log.time = pd.to_datetime(log['time'])
log.time.dt.dayofweek.value_counts()

5    152
2    150
1    150
4    135
0    135
3    132
6    131
Name: time, dtype: int64

Используйте оригинальные данные log.csv, столбец time.

Подсказка: можно использовать value_counts(). Кроме этого, потребуется написать функцию, которая преобразует дату во время дня.

Договоримся, что с 0 до 5 часов - ночь, с 6 до 11 - утро, с 12 до 17 - день, с 18 до 23 - вечер.

Важно: для выполнения задания вам нужно будет избавиться от пропусков только в столбце time. Вспомните, как избавиться от пропусков только по конкретному признаку.

Посчитайте, какое время дня встречается в данных реже всего. Введите ответ в поле ниже: ночь, утро, день или вечер.

In [12]:
log = pd.read_csv("log (1).xls", header = None) 
log.columns = ['user_id', 'time', 'bet', 'win']  
log=log.dropna(subset=['time'], axis=0) 
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])
log['hour'] = log['time'].dt.hour  

def day_night(x):
    if x <= 5:
        part = 'Night'
    elif (x >= 6) & (x <= 11):
        part = 'Morning'
    elif (x >= 12) & (x <= 17):
        part = 'Day'
    else:
        part = 'Evening'
    return part  
log['day_part'] = log['hour'].apply(day_night)
log.day_part.value_counts()

Night      265
Morning    253
Day        240
Evening    227
Name: day_part, dtype: int64

Используйте оригинальный датасет log.csv. Результат запишите числом в поле ниже.

Подсказка: можно использовать value_counts().

Посчитайте, сколько раз люди приходили, но не делали ставок. Для этого заполните пропуски в столбце bet значением 0 и посчитайте количество таких значений.

In [13]:
log = pd.read_csv("log (1).xls", header = None) 
log.columns = ['user_id', 'time', 'bet', 'win']  
log.bet.fillna(0).value_counts()

0.0          515
500.0         50
100.0         48
300.0         42
800.0         42
200.0         40
400.0         40
700.0         38
600.0         37
1000.0        37
900.0         30
9754.0        10
10554.0       10
10154.0        7
10254.0        7
10454.0        6
9954.0         6
10754.0        5
10654.0        5
10354.0        4
10054.0        4
9854.0         2
5000.0         1
27000.0        1
9876.0         1
156789.0       1
12945.0        1
12548.0        1
145732.0       1
1678321.0      1
98753.0        1
123981.0       1
104540.0       1
8700.0         1
950.0          1
8734.0         1
7650.0         1
Name: bet, dtype: int64

Заполнение с помощью функции
Теперь поработаем с признаком win, в котором тоже есть пропуски.

Иногда нужно заполнять пропуски не одним и тем же числом, а разными, в зависимости от какого-то условия. Перед нами именно этот случай.

Предположим, что если в признаке win находится пропуск, то выигрыша не было. Здесь два возможных случая:

Человек не делал ставки и ничего не выиграл. То есть просто пришел, посмотрел и ушел.
Человек делал ставку, но не выиграл. Значит, выигрыш на самом деле является отрицательным значением - это проигрыш.
Предлагаем вам написать метод, который заполнит пропуски в признаке win в соответствии с предположением выше. 

Для этого можно применить метод apply() ко всей таблице и передать ему функцию, которая вычисляет размер выигрыша (или проигрыша) по следующей схеме:

Если значение в столбце win существует (не пропуск) - вернуть это же значение. Это значит, что человек выиграл.
Если вместо значения в столбце win пропуск, вернуть 0.
На выходе получится столбец без пропусков. Следующим шагом будет замена старого столбца win на новый.

Выглядеть это будет примерно так:

In [14]:
log['bet']=log['bet'].fillna(0)
log['win']=log['win'].fillna(0)
def fillna_win(row):
    if row.win<=0:
        if row.bet == 0:
            row.win = 0
        else:
            row.win = -row.bet
    return row.win
new_win=log.apply(lambda row: fillna_win(row), axis=1)
log['win'] = new_win
(log.win<0).sum()

347

Используйте модифицированный в прошлой секции датасет log.csv. Результат запишите числом в поле ниже.

Подсказка: можно использовать sum().
Создайте признак net, хранящий сумму выигрыша с учетом ставки. Для этого используйте следующий алгоритм:
- если значение признака win меньше 0 - присвоить значение признака win признаку net;

- во всех остальных случаях - из значения признака win вычтите значение признака bet и полученное значение присвойте признаку net.

После этого посчитайте, у скольких людей выигрыш положительный.

In [15]:
def fill_net(row):
    if row.win <= 0:
        row.net = row.win
    else:
        row.net = row.win - row.bet
    return row.net
log['net'] = log.apply(lambda row: fill_net(row), axis = 1)
log[log.net > 0].net.value_counts()
# log

4019.0     2
4250.0     2
4966.0     2
6196.0     1
5013.0     1
          ..
21080.0    1
4301.0     1
5198.0     1
4467.0     1
20334.0    1
Name: net, Length: 135, dtype: int64

Используйте датасет log.csv, получившийся в результате выполнения предыдущего задания. Посчитайте среднее значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0. Результат округлите до целого, отбросив дробную часть.

In [16]:
log

,user_id,time,bet,win,net
0,Запись пользователя № - user_919,[2019-01-01 14:06:51,0.0,0.0,0.0
1,Запись пользователя № - user_973,[2019-01-01 14:51:16,0.0,0.0,0.0
2,Запись пользователя № - user_903,[2019-01-01 16:31:16,0.0,0.0,0.0
3,Запись пользователя № - user_954,[2019-01-01 17:17:51,0.0,0.0,0.0
4,Запись пользователя № - user_954,[2019-01-01 21:31:18,0.0,0.0,0.0
...,...,...,...,...,...
995,Запись пользователя № - user_984,[2019-04-20 9:59:58,9754.0,-9754.0,-9754.0
996,#error,NaN,10054.0,29265.0,19211.0
997,#error,NaN,10454.0,-10454.0,-10454.0
998,#error,NaN,1000.0,-1000.0,-1000.0
999,#error,NaN,10754.0,-10754.0,-10754.0

In [17]:
log[log.net > 0].net.mean()

80253.33333333333

Используйте датасет log.csv, получившийся в результате выполнения первого задания этого блока. Посчитайте медианное значение выигрыша (из столбца net) в тех случаях, когда выигрыш больше 0. Результат округлите до целого, отбросив дробную часть.

In [18]:
log[log.net > 0].net.median()

5347.0

Посчитайте, какой процент посещений букмекерской конторы оборачивался ставкой. Для этого поделите количество ставок (значений больше 0) на общее количество посещений конторы. Результат округлите до одного знака после запятой.

In [19]:
# log.bet.count()
log.bet[log.bet>0].count()

485

Посчитайте среднее значение ставки (из столбца bet) в тех случаях, когда ставка была сделана. Запишите результат, отбросив дробную часть.

In [20]:
log.bet[log.bet>0].mean()

6785.738144329897

Посчитайте средний выигрыш (из столбца net) в тех случаях, когда ставка была сделана. Результат округлите до целого, отбросив дробную часть.
Пояснение: выигрыш в данном случае означает изменение количества денег и может быть отрицательным. В таком случае это проигрыш.

Подсказка: можно использовать mean().

In [21]:
log[log.net != 0].net.mean()

20421.892783505155

Посчитайте среднюю сумму потерь при проигрыше (из столбца net). Результат округлите до целого, отбросив дробную часть.
Пояснение: ответ должен быть дан в виде отрицательного числа.

In [22]:
log[log.net < 0].net.mean()

-3372.743515850144

Посчитайте, какой процент ставок заканчивается выигрышем, а какой - проигрышем. Сравните эти значения и ответьте, какое из них больше.

In [23]:
len(log[log.net < 0].net) / len(log), len(log[log.net > 0].net) / len(log)

(0.347, 0.138)

2. посчитайте, чему равна минимальная ставка;

3. посчитайте, сколько раз была сделана минимальная ставка, и запишите результат в переменную min_bet_amount в виде целого числа.

In [24]:
log[log.bet > 0].bet.value_counts()

500.0        50
100.0        48
300.0        42
800.0        42
200.0        40
400.0        40
700.0        38
1000.0       37
600.0        37
900.0        30
10554.0      10
9754.0       10
10154.0       7
10254.0       7
9954.0        6
10454.0       6
10754.0       5
10654.0       5
10354.0       4
10054.0       4
9854.0        2
98753.0       1
1678321.0     1
8734.0        1
12945.0       1
123981.0      1
27000.0       1
104540.0      1
8700.0        1
7650.0        1
950.0         1
145732.0      1
12548.0       1
9876.0        1
156789.0      1
5000.0        1
Name: bet, dtype: int64

In [25]:
# Приведем признак user_id к одному формату в обоих датасетах  
users.user_id = users.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])

C:\Users\gorba\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

pd.merge(dataframe1, dataframe2, on='feature_name')

Объедините датасеты log.csv и users.csv по признаку user_id по примеру выше. Ответ запишите в поле ниже.

Запишите количество строк в получившейся таблице.

In [29]:
df = pd.merge(log, users, on='user_id')
df

,user_id,time,bet,win,net,email,geo
0,user_919,[2019-01-01 14:06:51,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
1,user_919,[2019-01-30 10:06:00,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
2,user_919,[2019-02-05 14:33:44,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
3,user_919,[2019-02-14 11:38:05,0.0,0.0,0.0,Chikkaverle@icloud.com,Хабаровск
4,user_919,[2019-03-02 4:23:36,300.0,-300.0,-300.0,Chikkaverle@icloud.com,Хабаровск
...,...,...,...,...,...,...,...
970,user_932,[2019-02-24 22:40:06,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
971,user_932,[2019-03-15 10:56:14,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
972,user_932,[2019-03-18 10:13:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
973,user_932,[2019-03-27 12:18:24,0.0,0.0,0.0,BraceWalker@bk.ru,Красноярск
974,user_932,[2019-04-18 14:55:26,700.0,6640.0,5940.0,BraceWalker@bk.ru,Красноярск

In [31]:
df.groupby('user_id').win.median().median()

0.0

Используйте датасет, который получился в результате всех преобразований выше (в том числе, заполнение пропусков). Ответ запишите в поле ниже в виде целого числа (отбросьте дробную часть).

Посчитайте медиану баланса по каждому пользователю. Для этого сгруппируйте по пользователям, возьмите признак net, просуммируйте по каждому пользователю и получите медиану.