In [245]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [215]:
df = pd.read_csv('movie_bd_v5 (1).xls')
df

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [216]:
data = pd.read_csv('movie_bd_v5 (1).xls')

In [217]:
df.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [218]:
df_1 = df

# Предобработка

In [219]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
df['profit'] = df.revenue - df.budget
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [220]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [221]:
# тут пишем ваш код для решения данного вопроса:
df[df.budget == df.budget.max()][['imdb_id', 'original_title', 'budget']]
# data[data.budget == max(data.budget)][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

In [222]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [223]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

ВАРИАНТ 2

In [224]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [225]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157	tt0279111	Gods and Generals	56000000'

In [226]:

df[df.runtime == max(df.runtime)][['imdb_id', 'original_title', 'budget']]

        imdb_id     original_title    budget
1157  tt0279111  Gods and Generals  56000000

# 3. Какой из фильмов самый короткий (в минутах)?

In [227]:
df[df.runtime == min(df.runtime)][['imdb_id', 'original_title', 'budget']]

       imdb_id   original_title    budget
768  tt1449283  Winnie the Pooh  30000000

In [228]:
answers['3'] = '768	tt1449283	Winnie the Pooh	30000000'

# 4. Какова средняя длительность фильмов?

In [229]:
df.runtime.mean()

109.6585494970884

In [230]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [162]:
df.runtime.median()

107.0

In [163]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [164]:
df[df.profit == max(df.profit)][['original_title', 'imdb_id', 'profit']]# лучше код получения столбца profit вынести в Предобработку что в начале

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

In [165]:
answers['6'] = '239	Avatar	tt0499549	2544505847'

# 7. Какой фильм самый убыточный?

In [166]:
df[df.profit == min(df.profit)][['original_title', 'imdb_id', 'profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [167]:
answers['7'] = '1245	The Lone Ranger	tt1210819	-165710090'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [168]:
len(df[df.revenue > df.budget])

1478

In [169]:
answers['8'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [170]:
df[df.release_year == 2008].revenue.max()

1001921825

In [171]:
movie_id = df[df.release_year == 2008].revenue.idxmax()
# df.loc[movie_id].original_title
movie_id

599

In [172]:
data_2008 = df[df['release_year'] == 2008]
data_2008.sort_values(by = 'revenue', ascending = False).head(1).original_title

599    The Dark Knight
Name: original_title, dtype: object

In [173]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [174]:
# data[data.release_year.isin(range(2012, 2015))
df[df.release_year.isin(range(2012, 2015))].revenue.min()

2054941

In [175]:
worst = data[data.release_year.isin(range(2012, 2015))][
    ['original_title', 'imdb_id', 'release_year', 'profit']]
worst[worst.profit == min(worst.profit)]

       original_title    imdb_id  release_year     profit
1245  The Lone Ranger  tt1210819          2013 -165710090

In [176]:
answers['10'] = '1245	The Lone Ranger	tt1210819	2013	-165710090'

# 11. Какого жанра фильмов больше всего?

In [177]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [178]:
sum_genres=pd.Series(df['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)
sum_genres

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [179]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [180]:
# sum_genres=pd.Series(df['genres'].str.cat(sep='|').split('|')).value_counts(ascending=False)
# data = data_ini
# genres = pd.Series(data[data.profit > 0].genres.str.cat(sep='|').split('|'))
# genres.value_counts().head()

genres = pd.Series(df[df.profit > 0].genres.str.cat(sep='|').split('|'))
genres.value_counts().head()

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

In [181]:
answers['11'] = 'Drama'

In [182]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157\ttt0279111\tGods and Generals\t56000000',
 '3': '768\ttt1449283\tWinnie the Pooh\t30000000',
 '4': '2. 110',
 '5': '107',
 '6': '239\tAvatar\ttt0499549\t2544505847',
 '7': '1245\tThe Lone Ranger\ttt1210819\t-165710090',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': '1245\tThe Lone Ranger\ttt1210819\t2013\t-165710090',
 '11': 'Drama'}

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [183]:
df[df.profit == df.profit.max()].director

239    James Cameron
Name: director, dtype: object

In [184]:
df.groupby(['director']).sum()

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Aaron Seltzer|Jason Friedberg,20000000,48548426,83,3.9,2006,28548426
Adam McKay,341500000,859076455,664,38.9,12056,517576455
Adam Shankman,387000000,873562773,837,47.7,16043,486562773
Adam Wingard,5000000,2367161,99,6.6,2014,-2632839
Adrian Lyne,50000000,119137784,124,6.4,2002,69137784
...,...,...,...,...,...,...
Wong Kar-wai,10000000,21786738,111,6.2,2007,11786738
Woody Allen,48000000,279220507,318,20.7,6026,231220507
Xavier Gens,24000000,99965753,89,5.9,2007,75965753
Zack Snyder,610000000,1602937193,730,39.4,12054,992937193
Zal Batmanglij,6500000,2401510,116,6.3,2013,-4098490

In [185]:
df.groupby(['director']).sum().sort_values('revenue', ascending=False)

,budget,revenue,runtime,vote_average,release_year,profit
director,,,,,,
Peter Jackson,1288000000,6490593685,1355,58.1,16059,5202593685
Christopher Nolan,1005000000,4167548502,1135,61.1,16057,3162548502
David Yates,775000000,4154295625,567,29.6,8037,3379295625
Michael Bay,1126000000,3886938960,1209,50.0,16063,2760938960
J.J. Abrams,740000000,3579169916,633,35.1,10054,2839169916
...,...,...,...,...,...,...
David MichÃ´d,12250000,2295423,100,6.0,2014,-9954577
Steven Shainberg,16800000,2281089,122,6.3,2006,-14518911
Paul Schrader,7000000,2062066,104,5.9,2002,-4937934
Keanu Reeves,25000000,2054941,105,5.6,2013,-22945059
Simon Hunter,8000000,2033165,111,5.1,2008,-5966835

In [186]:
answers['12'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [195]:
directors = set(data.director.str.cat(sep='|').split('|'))
pd.Series({x: (data[
                    (data.director.str.contains(x)) & data.genres.str.contains('Action')
                    ].director.count()) for x in directors}
         ).sort_values(ascending=False)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Paolo Sorrentino      0
David Soren           0
Klay Hall             0
David Slade           0
Craig Brewer          0
Length: 997, dtype: int64

In [193]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [202]:
actors = set(data.cast.str.cat(sep='|').split('|'))
pd.Series({x: (data[
                    (data.release_year == 2012) & (data.cast.str.contains(x))
                   ].revenue.sum()
              ) for x in actors}
         ).sort_values(ascending=False)

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Chris Evans           1519557910
                         ...
Michael Angarano               0
David Cronenberg               0
Lari White                     0
Bill Melendez                  0
Min Tanaka                     0
Length: 3406, dtype: int64

In [203]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [204]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.cat(sep='|').split('|')).value_counts()

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Eddie Murphy      15
Tom Cruise        15
                  ..
Clifton Powell     1
Nick Chinlund      1
Peter Berg         1
Will Rothhaar      1
Eartha Kitt        1
Length: 1505, dtype: int64

In [239]:
answers['16'] = ' Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [207]:
nicolas_films = data[data.cast.str.contains('Nicolas Cage')]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
168,tt2467046,16000000,19682924,Left Behind,Nicolas Cage|Chad Michael Murray|Lea Thompson|...,Vic Armstrong,The End Begins,A small group of survivors are left behind aft...,110,Thriller|Action|Science Fiction,Stoney Lake Entertainment,10/3/2014,3.8,2014
276,tt0448011,50000000,155446362,Knowing,Nicolas Cage|Rose Byrne|Chandler Canterbury|Be...,Alex Proyas,Knowing is everything...,A teacher opens a time capsule that has been d...,121,Action|Adventure|Drama|Mystery|Science Fiction,Summit Entertainment|Mystery Clock Cinema|Esca...,3/19/2009,5.7,2009
330,tt1095217,25000000,10589102,The Bad Lieutenant: Port of Call - New Orleans,Nicolas Cage|Eva Mendes|Val Kilmer|Fairuza Bal...,Werner Herzog,The only criminal he can't catch is himself.,"Terrence McDonagh, a New Orleans Police sergea...",122,Drama|Crime,Saturn Films|Nu Image Films|Edward R. Pressman...,9/11/2009,5.8,2009
336,tt0375568,65000000,44091067,Astro Boy,Nicolas Cage|Kristen Bell|Bill Nighy|Donald Su...,David Bowers,Have a blast.,"Set in futuristic Metro City, Astro Boy is abo...",94,Animation|Action|Family|Science Fiction,The Weinstein Company|Summit Entertainment|Tez...,10/15/2009,6.0,2009
386,tt1250777,28000000,96188903,Kick-Ass,Aaron Taylor-Johnson|ChloÃ« Grace Moretz|Chris...,Matthew Vaughn,Shut up. Kick ass.,Dave Lizewski is an unnoticed high school stud...,117,Action|Crime,Lions Gate,3/22/2010,7.0,2010
392,tt0963966,150000000,215283742,The Sorcerer's Apprentice,Nicolas Cage|Jay Baruchel|Monica Bellucci|Alfr...,Jon Turteltaub,It's The Coolest Job Ever.,Balthazar Blake is a master sorcerer in modern...,109,Fantasy|Adventure|Action|Comedy|Drama,Walt Disney Pictures|Jerry Bruckheimer Films|S...,7/13/2010,5.8,2010
687,tt0814022,45000000,42487390,Bangkok Dangerous,Nicolas Cage|Shahkrit Yamnarm|Charlie Yeung|Pa...,Oxide Pang Chun|Danny Pang,There's only one way out.,"When carrying out a hit, assassin Joe (Cage) a...",99,Action|Crime|Thriller,Virtual Studios|Initial Entertainment Group|Sa...,8/21/2008,5.0,2008
727,tt1502404,50000000,28931401,Drive Angry,Nicolas Cage|Amber Heard|William Fichtner|Bill...,Patrick Lussier,One hell of a ride.,Milton is a hardened felon who has broken out ...,105,Fantasy|Thriller|Action|Crime,Summit Entertainment|Saturn Films|Nu Image Fil...,2/24/2011,5.3,2011
764,tt1071875,57000000,149217355,Ghost Rider: Spirit of Vengeance,Nicolas Cage|CiarÃ¡n Hinds|Violante Placido|Fe...,Mark Neveldine|Brian Taylor,He Rides Again.,When the devil resurfaces with aims to take ov...,95,Action|Fantasy|Thriller,Columbia Pictures|Imagenation Abu Dhabi FZ|Mar...,12/10/2011,4.7,2011
784,tt0479997,40000000,88100000,Season of the Witch,Nicolas Cage|Ron Perlman|Ulrich Thomsen|Christ...,Dominic Sena,Not all souls can be saved.,A 14th century Crusader (Cage) returns with hi...,95,Adventure|Fantasy|Action,Atlas Entertainment|Relativity Media,1/7/2011,5.2,2011
825,tt1674784,36000000,9612469,Trespass,Nicolas Cage|Nicole Kidman|Liana Liberato|Cam ...,Joel Schumacher,When terror is at your doorstep. You can run. ...,Kyle (Nicholas Cage) and Sarah Miller (Nicole ...,91,Crime|Drama|Thriller,Nu Image Films|Winkler Films|Millennium Films,10/14/2011,5.3,2011
833,tt1214962,17000000,12355798,Seeking Justice,Nicolas Cage|Guy Pearce|January Jones|Jennifer...,Roger Donaldson,Vengeance always has a price,"After his wife is assaulted, a husband enlists...",105,Action|Drama|Thriller,Endgame Entertainment|Maguire Entertainment|Ra...,9/2/2011,5.9,2011
914,tt0268126,19000000,32801173,Adaptation.,Nicolas Cage|Meryl Streep|Chris Cooper|Tilda S...,Spike Jonze,Charlie Kaufman writes the way he lives... Wit...,A love-lorn script writer grows increasingly d...,114,Comedy|Crime|Drama,Columbia Pictures|Beverly Detroit|Propaganda F...,12/6/2002,7.2,2002
921,tt0245562,115000000,77628265,Windtalkers,Nicolas Cage|Adam Beach|Peter Stormare|Noah Em...,John Woo,Honor Was Their Code.,Joe Enders is a gung-ho Marine assigned to pro...,134,Drama|Action|History|War,Lion Rock Productions|Metro-Goldwyn-Mayer (MGM),6/14/2002,5.9,2002
1033,tt1656186,35000000,2106557,Stolen,Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Ga...,Simon West,Never steal from the world's greatest thief.,A former thief frantically searches for his mi...,96,Action|Crime|Drama|Thriller,Saturn Films|Nu Image Films|Millennium Films,5/17/2012,5.1,2012
1224,tt0481499,135000000,585178928,The Croods,Nicolas Cage|Emma Stone|Ryan Reynolds|Catherin...,Kirk De Micco|Chris Sanders,Meet the first modern family.,The Croods is a prehistoric comedy adventure t...,98,Adventure|Animation|Comedy|Family|Fantasy,DreamWorks Animation,3/20/2013,6.8,2013
1280,tt2005374,27220000,5496951,The Frozen Ground,Nicolas Cage|Vanessa Hudgens|John Cusack|Radha...,Scott Walker,The hunter becomes the hunted,An Alaska State Trooper partners with a young ...,105,Thriller|Crime,Grindstone Entertainment Group|Cheetah Vision|...,7/18/2013,6.2,2013
1346,tt0399295,42000000,24127895,Lord of War,Nicolas Cage|Bridget Moynahan|Jared Leto|Ethan...,Andrew Niccol,"Where there's a will, there's a weapon","Yuri Orlov is a globetrotting arms dealer and,...",122,Crime|Drama|Thriller,Saturn Films|Ascendant Pictures|Endgame Entert...,9/16/2005,6.9,2005
1390,tt0384680,20000000,12482775,The Weather Man,Nicolas Cage|Michael Caine|Hope Davis|Gemmenne...,Gore Verbinski,Dave Spritz is about to take his best shot . ....,"A Chicago weather man, separated from his wife...",101,Comedy|Drama,Paramount Pictures|Escape Artists|Kumar Mobili...,10/20/2005,5.7,2005
1473,tt0429589,50000000,55181129,The Ant Bully,Julia Roberts|Meryl Streep|Nicolas Cage|Paul G...,John A. Davis,The battle for the lawn is on.,Fed up with being targeted by the neighborhood...,88,Fantasy|Adventure|Animation|Comedy|Family,Warner Bros. Pictures|DNA Films|Legendary Pict...,7/27/2006,5.5,2006
1509,tt0469641,63000000,162945894,World Trade Center,Nicolas Cage|Maria Bello|Maggie Gyllenhaal|Mic...,Oliver Stone,The World Saw Evil That Day. Two Men Saw Somet...,"On September, 11th 2001, after the terrorist a...",128,Drama|History|Thriller,Paramount Pictures|Double Feature Films|Interm...,8/9/2006,5.9,2006
1568,tt0368891,100000000,347451894,National Treasure,Nicolas Cage|Diane Kruger|Justin Bartha|Sean B...,Jon Turteltaub,The greatest adventure history has ever revealed.,"Modern treasure hunters, led by archaeologist ...",131,Adventure|Action|Thriller|Mystery,Walt Disney Pictures|Jerry Bruckheimer Films|S...,11/19/2004,6.4,2004
1675,tt0465234,130000000,457363168,National Treasure: Book of Secrets,Nicolas Cage|Jon Voight|Harvey Keitel|Ed Harri...,Jon Turteltaub,The Greatest Adventure History Has Ever Revealed,Benjamin Franklin Gates and Dr. Abigail Chase ...,124,Action|Adventure|Mystery|Thriller,Jerry Bruckheimer Films|Saturn Films|Walt Disn...,12/13/2007,6.0,2007
1683,tt0259324,110000000,228738393,Ghost Rider,Nicolas Cage|Eva Mendes|Wes Bentley|Donal Logu...,Mark Steven Johnson,Hell Is About To Be Unleashed,"In order to save his dying father, young stunt...",114,Thriller|Action|Fantasy|Horror,Columbia Pictures Corporation|Relativity Media...,2/16/2007,5.2,2007
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007
1818,tt0187078,90000000,237202299,Gone In Sixty Seconds,Nicolas Cage|Angelina Jolie|Giovanni Ribisi|De...,Dominic Sena,"Ice Cold, Hot Wired.",Upon learning that he has to come out of retir...,118,Action|Crime|Thriller,Jerry Bruckheimer Films|Touchstone Pictures,6/9/2000,6.0,2000
1838,tt0218967,60000000,124745083,The Family Man,Nicolas Cage|TÃ©a Leoni|Don Cheadle|Saul Rubin...,Brett Ratner,What if you made different choices? What if yo...,"Jack's lavish, fast-paced lifestyle changes on...",125,Comedy|Drama|Romance|Fantasy,Universal Pictures,12/12/2000,6.4,2000

In [210]:
genres = data[data.cast.str.contains('Nicolas Cage')].genres
pd.Series(genres.str.cat(sep='|').split('|')).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
War                 1
Romance             1
dtype: int64

In [238]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [237]:
answers['18'] = 'K-19: The Widowmaker'
df[df.production_companies.str.contains('Paramount Pictures')].sort_values(['profit'])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,Paul Walker|Frances O'Connor|Gerard Butler|Bil...,Richard Donner,They had to travel into the past to save the f...,A group of archaeological students become trap...,116,Action|Adventure|Science Fiction,Paramount Pictures|Donners' Company|Mutual Fil...,11/26/2003,5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,4/24/2007,5.9,2007,-51788987
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,5.4,2004,-46604061
1631,tt0315297,50000000,25195000,Twisted,Ashley Judd|Samuel L. Jackson|Andy GarcÃ­a|Dav...,Philip Kaufman,Every murder has a mark.,Recently promoted and transferred to the homic...,97,Action|Adventure|Crime|Drama|Thriller,Paramount Pictures|Kopelson Entertainment|Harl...,2/27/2004,5.7,2004,-24805000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,tt1229238,145000000,694713380,Mission: Impossible - Ghost Protocol,Tom Cruise|Jeremy Renner|Simon Pegg|Paula Patt...,Brad Bird,No Plan. No Backup. No Choice.,In the 4th installment of the Mission Impossib...,133,Action|Thriller|Adventure,Paramount Pictures|Skydance Productions|Bad Ro...,12/7/2011,6.7,2011,549713380
1738,tt0418279,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/27/2007,6.6,2007,559709780
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/19/2009,6.0,2009,686297228
828,tt1399103,195000000,1123746996,Transformers: Dark of the Moon,Shia LaBeouf|John Malkovich|Ken Jeong|Frances ...,Michael Bay,The invasion we always feared. An enemy we nev...,Sam Witwicky takes his first tenuous steps int...,154,Action|Science Fiction|Adventure,Paramount Pictures|Di Bonaventura Pictures|Has...,6/28/2011,6.1,2011,928746996

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [248]:
# df[df.production_companies.str.contains('Paramount Pictures')].sort_values(['profit'])
# df[df.profit == max(df.profit)][['imdb_id', 'original_title', 'budget']]
df.groupby('release_year').sum().sort_values('revenue', ascending=False).revenue.head()
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [254]:
# df[df.production_companies.str.contains('Paramount Pictures')].sort_values(['profit'])

answers['20'] = 2014
data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [262]:
data['month'] = data.apply(lambda x: x['release_date'].split('/')[0], axis=1)
data.groupby(['month']).imdb_id.count().sort_values(ascending=False)

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [272]:
 data[data.month.isin(['6', '7', '8'])].imdb_id.count()
#data.release_year.isin(range(2012, 2015))
# data[data.month.isin(['6', '7', '8'])].imdb_id.count()

450

In [273]:
 answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [276]:
answers['23'] = 'Peter Jackson'
winter_data = data[data.month.isin(['1', '2', '12'])]
directors = set(winter_data.director.str.cat(sep='|').split('|'))
pd.Series({x: (winter_data[
                    (winter_data.director.str.contains(x))
                    ].director.count()) for x in directors}
         ).sort_values(ascending=False)

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Martin Scorsese      4
                    ..
Todd Phillips        1
John Boorman         1
Charles Stone III    1
Jason Moore          1
Craig Brewer         1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [278]:
companies = set(data.production_companies.str.cat(sep='|').split('|'))
pd.Series({x: (data[
                (data.production_companies.str.contains(x))
                ].original_title.str.len().mean()
              ) for x in companies
          }
).sort_values(ascending=False)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [279]:
data['overview_words_length'] = data.apply(lambda x: len(x['overview'].split(' ')), axis=1)

companies = set(data.production_companies.str.cat(sep='|').split('|'))
pd.Series({x: (data[
                (data.production_companies.str.contains(x))
                ].original_title.str.len().mean()
              ) for x in companies
          }
).sort_values(ascending=False)

answers['24']='Four By Two Productions'
companies = set(data.production_companies.str.cat(sep='|').split('|'))
pd.Series({x: (data[
                (data.production_companies.str.contains(x))
                ].original_title.str.len().mean()
              ) for x in companies
          }
).sort_values(ascending=False)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [0]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)